@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  body {
    @apply bg-white text-gray-900 dark:bg-gray-950 dark:text-gray-100;
  }
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ec4913; /* Laranja do app */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d63d0c; /* Um pouco mais escuro no hover */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ec4913 transparent;
}
